a {outline : none;}
a img {outline : none;}
img {border : 0;}

body.menu {
    display: block;
    background-color: black;
    text-align: center;
    font-family: 'Emulogic';
    color: white;
}

@font-face {
    font-family: 'Emulogic';
    src: url("emulogic.ttf") format("truetype");
}

body.mspacman {
    display: block;
    background-color: black;
    background-image: url("img/mspacman.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Emulogic';
    color: white;
}

.mspacmanhi {
    font-family: 'Emulogic';
    color: lightgrey;
    position: absolute;
    left: 47%;
    top: 17%;
}

body.pacman {
    display: block;
    background-color: black;
    background-image: url("img/pacman.PNG");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Emulogic';
    color: white;
}

.pacmanhi {
    font-family: 'Emulogic';
    color: yellow;
    position: absolute;
    left: 47%;
    top: 26%;
}
body.n942 {
    display: block;
    background-color: black;
    margin-left: auto;
    margin-right: auto;

}

img.n942 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table.n942 {
    margin-left: auto;
    margin-right: auto;
}
.n942hi {
    text-align: center;
    font-family: 'Emulogic';
    color: gold;
}

body.wonderboy {
    display: block;
    background-color: black;
    margin-left: auto;
    margin-right: auto;

}

img.wonderboy {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wonderboyhi {
    text-align: center;
    font-family: 'Emulogic';
    color: gold;
}

.galagabody {
    background-color: black;
    background-image: url("img/galagacabblank.jpg");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    background-attachment: fixed;
}
.galagahi {
    font-family: 'Emulogic';
    color: gold;
    position: absolute;
    left: 44%;
    top:  49%;
}
